/* Styling the remove button */
.remove-btn {
    margin-right: 1rem;
}

/* the className fade 
    when you add an item to the UI */

.fade-enter {

    opacity: 0.03
}

.fade-enter-active {

    opacity: 1;
    transition: opacity 1000ms ease-in;

}

.fade-exit {

    opacity: 1;
}

.fade-exit-active {
    
    opacity: 0.01;
    transition: opacity 1000ms ease-in;
}